<ul class="list-style-none f3 container-sm">
    {% for item in site.data.links %}
    <li class="mb-3 text-center text-semibold">
        <a href="{{ item.url }}" 
           class="Link--primary d-block p-3 border rounded-3 color-shadow-small color-bg-subtle"
           {% if item.url == "#" %}
           data-modal="{{ item.text | downcase | replace: ' ', '-' }}"
           {% endif %}>
            <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                <use xlink:href="{{ site.baseurl }}/assets/img/bootstrap-icons.svg#{{ item.icon | default: 'globe2' }}"/>
            </svg><br>
            {{ item.text }}
        </a>
    </li>
    {% endfor %}
</ul>

<!-- Add modals for each special link -->
{% for item in site.data.links %}
{% if item.url == "#" %}
<!-- Dynamic modal -->
<div id="{{ item.text | downcase | replace: ' ', '-' }}-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        {% if item.text == "about me" %}
        <h2>about me</h2>
        <p>placeholder</p>
        {% elsif item.text == "email" %}
        <h2>contact me:</h2>
        <p>you can reach me at my forward address: <a href="mailto:dyl@indiscover.me">dyl@indiscover.me</a></p>
        <p>you will most likely recieve the fastest reply here, as it goes to a mailbox i check more often</p>
        <p>or alternatively, you can send a message directly to my protonmail: <a href="mailto:indiscovering@proton.me">indiscovering@proton.me</a></p>
        <p>if you send an email to my forward address, this is the email address you will recieve a reply from. this is simply for privacy as to not share my main email address.</p>
        <p>i check this mailbox less often, so you may have to wait a while for a response</p>
        {% elsif item.text == "pc specs" %}
        <h2>my pc specs:</h2>
        <p>cpu - intel core i5-12400f</p>
        <p>ram - 32gb of corsair vengeance rgb pro, ddr4</p>
        <p>gpu - zotac gaming rtx 4060, 8gb vram</p>
        <p>mobo - asus prime h610m-a wifi d4</p>
        <p>psu - corsair cv550</p>
        <p>monitor - 32 inch AOC CQ32G4VE running at 1440p and 180hz </p>
        <p>keyboard - corsair k70 pro rgb tkl</p>
        <p>mouse - logitech g502 hero</p>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
